@font-face {
  font-family: Roboto;
  // src: url('../fonts/Roboto-Light.woff') format('woff');
  src: url('../../assets/fonts/Roboto-Light.woff');
}


@font-face {
  font-family: 'Butler';
  src: url('../../assets/fonts/Butler.woff');
}

@font-face {
  font-family: 'Butler';
  font-weight: bold;
  src: url('../../assets/fonts/Butler-Black.woff');
}

@font-face {
  font-family: 'Butler';
  font-weight: medium;
  src: url('../../assets/fonts/Butler-Medium.woff');
}


@font-face {
  font-family: 'FAB Regular';
  src: url('../../assets/fonts/fa-brands-400.woff');
}

@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src: url('../../assets/fonts/Lato-Bold.ttf');
}

// @font-face {
//   font-family: 'FAB Regular';
//   src: url('./../../fonts/fa-brands-400.woff');
// }